Your Dashboard Should Include

What is the distribution of movies based on their genres, language, and release dates?

Which are the top-rated movies based on their rating and vote count?

How does the popularity of movies vary over time?

Which are the most successful movies based on their revenue?

How do the ratings of movies vary based on their original language and genre?

What is the average runtime of movies based on their release year?

How does the revenue of movies vary based on their genre?

How does the frequency of each language compare to each other?