Your Dashboard Should Include

Use Advanced Power BI Visualisations and Filters.

What are total attrition count and total employees?

What is the attrition rate by gender for different age groups (under 25, 25 - 34, 35 - 45, Over 45)?

What is the attrition count by department?

How many employees are there for each job role, categorized by their performance rating?

What is the average hourly rate by department?

What is the average monthly income by job role and gender?

What is the relation between attrition and percent salary hike?

Who are the top 10 employees with the highest salary in the company?

How does the data in my report page change when I filter it by Marital Status?